.border-right {
    padding-right: 10px;
    border-right: 1px solid gray;
}

.num-of-harrows-bar {
    padding-left: 10px;
    border-left: 1px solid gray;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    width: 420px;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
}

img{
    width: 30px;
}