.board {
    padding-top: 40px;
}

.feedback-message {
    height: 80px;
    text-align: center;
}

.feedback-message p {
    margin: 0;

}

.controls-container {
    width: 70%;
    margin: 0 auto;
}